body{
    background-image:url("/Projet_Web_L2_2024/public/leBackgroundStatic.jpg");
    background-attachment: fixed;
    background-size: 1300px 700px;
    z-index: 10;
}
body {
    background-image: url("/Projet_Web_L2_2024//public/RectangleRouge.svg");
    background-size: cover, 1300px 700px;
    background-position: center, center;
    background-attachment: scroll;
    z-index: 20;
}
