body{
    background-image:url("/Projet_Web_L2_2024/public/leBackgroundStatic.jpg");
    background-attachment: fixed;
    background-size: 1300px 700px;
    z-index: 10;
}

body {
    background-image: url("/Projet_Web_L2_2024//public/RectangleRouge.svg");
    background-size: cover, 1300px 700px;
    background-position: center, center;
    background-attachment: scroll;
    z-index: 20;
}

/*header*/
header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.ensemble {
    display: grid;
    gap: 50px;
    grid-auto-rows: 100px;
}

div {
    text-align: center;
    font-family: Papyrus;
}

.logo {
    padding: 5px 0;
    font-size: 50px;
    font-family: "Comic Sans MS";
    grid-column: 1;
    grid-row: 1;
}

.boutique {
    padding: 30px 0;
    grid-column: 2;
    grid-row: 1;
}

.actus {
    padding: 30px 0;
    grid-column: 3;
    grid-row: 1;
}

.info {
    padding: 30px 0;
    grid-column: 4;
    grid-row: 1;
}

.horaire {
    padding: 5px;
    margin-left: 20px;
    grid-column: 6;
    grid-row: 1;
}

.horaire-text {
    background-color: #F8DF00;
    padding: 10px;
    border-radius: 10px;
}

.horaires {
    background-color: #F8DF00;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

.horaire-text:hover + .horaires {
    display: block;
    z-index: 2;
}

.recherche {
    align-content: center;
    margin-right: 40px;
    grid-column: 7;
    grid-row: 1;
    display: grid;
}

.loupe {
    grid-column: 2;
    grid-row: 1;
}

.barre {
    float: left;
    margin-right: 30px;
    display: none;
    grid-column: 1;
    grid-row: 1;
}

.loupe:hover + .barre {
    display: block;
}

.stvalentin {
    background-color: black;
    color : white;
    grid-row: 2;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

/*carrés*/
.carres{
    display: grid;
    gap: 75px;
    grid-auto-columns: 100px;
    justify-content: center;
}

.carres div{
    border: 3px solid white;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 20px;
    transition: 0.5s ease-out;
    color: white;
}
.carres p{
    margin-top: 10px;
    padding-top: 0px;
    font-size: 15px;
}

.carres img{
    height: 50px;
}

.carres div:hover + img{
    filter: invert(100%);
}

.carres div:hover{
    color: black;
    background-color: white;
    transition: 0.5s ease-out;
    transform: translate(0px, -5px);
}

.objets_trouves{
    grid-column: 1;
    grid-row: 1;
}

.acces{
    grid-column: 2;
    grid-row: 1;
}

.plan_du_centre{
    grid-column: 3;
    grid-row: 1;
}

.accessibilite{
    grid-column: 4;
    grid-row: 1;
}

.plus_de_services{
    grid-column: 5;
    grid-row: 1;
}

/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 100%;
    background-color: white;
    padding: 10px 10px 10px 150px;
    position: relative;

}
.footer-centre {
    text-align: left;
    margin-left: 50px;

}
.footer-centre ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-droite {
    margin-top: 10px;
    text-align: left;
    margin-left: 150px;
}
.Plogo {
    display: inline-block;
    padding: 3px;
    transition: transform 0.3s ease;
}

.Plogo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.Plogo:hover {
    transform: translateY(-4px);
}
#mail {
    border : 2px solid black;
    border-radius: 15px;
    width: 40%;

}
.footer-gauche {
    margin-left: 100px;
    text-align: left
}
.footer-gauche span {
    margin-right: 5px;
}
.mini-bas {
    font-size: 10px;
    text-align: center;
    align-self: end;
    position: absolute;
    bottom: 10px;
}
.Tel {
    border : 2px solid lightgray;
    border-radius: 5px;
    gap: 5px;
}
.Tel img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-right: 40px;
}

.email {
    border : 2px solid black;
    border-radius: 5px;

}
.email img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-right: 50px;
}
/*footer fin*/

/*bar fix*/
.bar-fixé {
    position: fixed;
    top: 60%;
    left: 10%;
    transform: translateY(-50%); /* peut être a enlever */
    padding: 10px 10px;
    text-align: center;
    z-index: 100000000;
}


.vertical-txt {
    writing-mode: vertical-rl; /* Rend le texte vertical */
    transform: rotate(180deg); /* Inverse le sens du texte */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px; /* Espace entre le texte et les icônes */
    color: black;
}


.icones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icone img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding: 2px;
    transition: transform 0.3s ease;
}

.icone img:hover {
    transform: translateX(4px);
}
/*bar fix fin*/

/*boitejaune*/
.boitejaune {
    background-color: #F8DF00;
    border-radius: 12px;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.boitejaune h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.votreemail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.votreemail input {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 15px;
    flex: 1;
    max-width: 300px;
}

.minitxt {
    font-size: 14px;
}
/*boite jaune fin*/

/*carre transparent*/
.carres_transparent{
    display: grid;
    gap: 75px;
    grid-auto-columns: 100px;
    justify-content: center;
}

.carres_transparent div{
    border: 3px solid white;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 20px;
    transition: 0.5s ease-out;
    color: white;
}
.carres_transparent p{
    margin-top: 10px;
    padding-top: 0px;
    font-size: 15px;
}

.carres_transparent img{
    height: 50px;
}

.carres_transparent div:hover + img{
    filter: invert(100%);
}

.carres_transparent div:hover{
    color: black;
    background-color: red;
    transition: 0.5s ease-out;
    transform: translate(0px, -5px);
}

/*carre transparent fin*/


/*divers*/
arrow {

}
/*fin divers*/

